/* * {
  font-style: italic;
} */
/* external stylesheet */
/* element selector */
/* h1{
    property:value
    color:red;
} */
/* using class id  */
.demo {
  color: red;
  background-color: aqua;
  height: 100px;
  width: 200px;
  font-size:10px;
  text-align: center;
}

#demo1 {
  color: green;
  background-image: url(./../images/images.jpeg);
  height:300px;
  width:100%;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: 300px;
}
p{
    /* shorthand  */
    background: red url(./../images/images.jpeg) no-repeat right top;
    /* bgcolor:color bgimage repeat attachement */
    height: 200px;
}
div{
    /* border-style: solid;
    border-width: 25px 10px 4px 35px; */
border: 2px dotted red;
border-radius: 50px;
}
ul > li {
    display:inline ;
    width: 200px;
    border:1px solid red;
}
ul > li > a{
    text-decoration:none;
    color:red;
}